@page
@model Eksamensprojekt___Gruppe_7.Pages.AnimalFolder.AddAnimalModel
@{
    ViewData["Title"] = "Tilføj nyt dyr";
}

<h2>Tilføj nyt dyr</h2>
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group form-check">
        <input asp-for="Animal.Avaliability" class="form-check-input" />
        <label class="form-check-label" asp-for="Animal.Avaliability">Tilgængelig</label>
    </div>

    <label>Navn</label>
    <input asp-for="Animal.Name" class="form-control" /><br />

    <label>Race</label>
    <input asp-for="Animal.Race" class="form-control" /><br />

    <label>Chipnummer</label>
    <input asp-for="Animal.ChipNumber" class="form-control" /><br />

    <label>Størrelse</label>
    <input asp-for="Animal.Size" class="form-control" /><br />

    <label>Billede</label>
    <input asp-for="ImageFile" type="file" class="form-control-file" /><br />

    <button type="submit" class="btn btn-success">Gem</button>
    <a asp-page="Animal" class="btn btn-secondary">Annuller</a>
</form>