@page
@model AnimalModel
@{
}
<!--By Kevin-->
<h2>Oversigt over vores dyr</h2>
<h4>Her kan du se oversigten over vores dyr. Du kan booke tid til at se dem, samt se deres status for salg.</h4>
<br />
<!DOCTYPE html>
<html>
<div class="row row-cols-3">
    @foreach (var Animal in Model.Animals) 
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="/Media/@Animal.Picture" alt="Trofast">
                <div class="card-body">
                    <h4 class="card-title">@Animal.Name</h4>
                    <p class="card-text">Chip Nr.: @Animal.ChipNumber<br />Race/art: @Animal.Race</p>
                    <a href="#" class="btn btn-primary">Rediger</a>
                </div>
            </div>
        </div>
    }
    <p><a href="AddAnimal">Klik her</a> for at tilføje flere dyr</p>
