@page "{id:int}"
@model Eksamensprojekt___Gruppe_7.Pages.AnimalFolder.EditAnimalModel
@{
    ViewData["Title"] = "Rediger dyr";
}

<h2>Rediger dyr</h2>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Animal.Id" />
    <input type="hidden" asp-for="ExistingPicture" />

    <label>Navn</label>
    <input asp-for="Animal.Name" class="form-control" /><br />

    <label>Race</label>
    <input asp-for="Animal.Race" class="form-control" /><br />

    <label>Chipnummer</label>
    <input asp-for="Animal.ChipNumber" class="form-control" /><br />

    <label>Størrelse</label>
    <input asp-for="Animal.Size" class="form-control" /><br />

    <label>Nuværende billede:</label><br />
    @if (!string.IsNullOrEmpty(Model.ExistingPicture))
    {
        <img src="/media/@Model.ExistingPicture" width="150" />

        <br />
    }

    <label>Upload nyt billede (valgfrit):</label>
    <input asp-for="ImageFile" type="file" class="form-control-file" /><br />

    <button type="submit" class="btn btn-success">Gem ændringer</button>
    <a asp-page="Animal" class="btn btn-secondary">Annuller</a>
</form>