@page "{id:int}"
@model Eksamensprojekt___Gruppe_7.Pages.Employees.EditModel
@using Eksamensprojekt___Gruppe_7.Models
@*by Ahmed*@
@{
	ViewData["Title"] = "Rediger medarbejder";
}
<h2>Rediger medarbejder</h2>
<hr />
<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<input type="hidden" asp-for="Employee.Id" />
	<div class="form-group">

	     <label>Navn</label>
		<input type="text" asp-for="Employee.Name" class="form-control" />
		<span asp-validation-for="Employee.Name" class="text-danger"></span>

	</div>

	<div class="form-group">
		<label>Stilling</label>
		<input type="text" asp-for="Employee.JobTitle" class="form-control" />
		<span asp-validation-for="Employee.Name" class="text-danger"></span>

	</div>

	<div class="form-group">
		<label>Email</label>
		<input type="email" asp-for="Employee.Email" class="form-control" />
		<span asp-validation-for="Employee.Name" class="text-danger"></span>

	</div>

	<div class="form-group">
		<label>Telefonnummer</label>
		<input type="text" asp-for="Employee.PhoneNumber" class="form-control" />
		<span asp-validation-for="Employee.Name" class="text-danger"></span>

	</div>
	<button type="submit" class="btn btn-success">Gem</button>
	<a asp-page="/Employees/Index" class="btn btn-secondary">Annuller</a>
</form>
