@page
@model Eksamensprojekt___Gruppe_7.Pages.EventsModel
@{
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<!DOCTYPE html>

<html>

<h1 class="text-center">Aktiviteter</h1>
<p class="text-center">Tilmeld dit kæledyr til vores diverse aktiviteter </p>


<container-sm>
    <div class="text-center">
        <h1>Tilføj begivenhed</h1>
    </div>

    <div class="card shadow-sm">
        <div class="card-body text-center">
            <form method="post">
                <div class="form-group container-fluid">
                    <label for="inputDateTime">Starttid: </label>
                    <input type="datetime-local" asp-for="eventure.StartTime" aria-describedby="dateTimeHelp" placeholder="Skriv starttidspunkt" step="3600">
                    <label for="inputDateTime">Sluttid: </label>
                    <input type="datetime-local" asp-for="eventure.EndTime" aria-describedby="dateTimeHelp" placeholder="Skriv sluttidspunkt" step="3600" />
                </div>

                <div class="form-group container-fluid">
                    <label for="inputDateTime">Lokation: </label>
                    <input type="text" asp-for="eventure.Location" aria-describedby="dateTimeHelp" placeholder="Indtast lokation" step="3600">
                </div>

                <div class="form-group mt-2">
                    <label for="inputComment">Indtast eventnavn: </label>
                    <input type="text" asp-for="eventure.Name" id="inputForm" aria-describedby="textHelp" placeholder="Indtast eventnavn" multiple style="width:200px;">
                    <label for="inputComment">indsæt billede: </label>

                    <input type="text" asp-for="eventure.Picture" id="inputForm" aria-describedby="textHelp" placeholder="Enter picturepath">

                </div>
                <button type="submit" class="btn btn-primary mt-5">Submit</button>
            </form>
            </<div>
            </div>
</container-sm>

<!--NOTE TO SELF - SET THE FOR EACH LOOP ON A SECOND PAGE->
<div class="row row-cols-3">
    @foreach (var Event in Model.events)
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="~/Photos/@Event.Picture" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@Event.Location</h4>
                    <p class="card-text">Starttidspunkt: @Event.StartTime.ToString("HH:mm")<br />Sluttidspunkt: @Event.EndTime.ToString("HH:mm")</p>
                    <a href="#" class="btn btn-primary">Rediger</a>
                </div>
            </div>
        </div>

    }
</div>