@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!--slideshow of pics -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Media/HomepageCarousel1.png" alt="Club" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/Media/HomepageCarousel2.png" alt="Club" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/Media/HomepageCarousel3.png" alt="Club" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/Media/HomepageCarousel4.png" alt="Club" class="d-block w-100">
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
